/* quicksand-regular - latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/quicksand-v22-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/quicksand-v22-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/quicksand-v22-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/quicksand-v22-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/quicksand-v22-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/quicksand-v22-latin-regular.svg#Quicksand') format('svg');
    /* Legacy iOS */
}

/* quicksand-500 - latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/quicksand-v22-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/quicksand-v22-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/quicksand-v22-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/quicksand-v22-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/quicksand-v22-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/quicksand-v22-latin-500.svg#Quicksand') format('svg');
    /* Legacy iOS */
}

/* quicksand-600 - latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/quicksand-v22-latin-600.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/quicksand-v22-latin-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/quicksand-v22-latin-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/quicksand-v22-latin-600.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/quicksand-v22-latin-600.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/quicksand-v22-latin-600.svg#Quicksand') format('svg');
    /* Legacy iOS */
}

/* quicksand-700 - latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/quicksand-v22-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/quicksand-v22-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/quicksand-v22-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/quicksand-v22-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/quicksand-v22-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/quicksand-v22-latin-700.svg#Quicksand') format('svg');
    /* Legacy iOS */
}

body,
html {
    height: 100%;
}

body {
    font-family: 'Quicksand';
    font-style: normal;
}

.wrapper {
    display: flex;
    max-width: 1700px;
    margin: 0 auto;
    padding: 20px 100px;
    align-items: center;

}

header {
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: #fff;
}

header .logo-circle {
    width: 26px;
    height: 26px;
    background-color: #5E81FE;
    border-radius: 50%;
    margin-right: 60px;
}

header ul {
    display: flex;
}

header ul li {
    margin-right: 40px;
}

header ul.header-nav {
    flex-grow: 1;
}

header ul.header-nav li a {
    color: #697CA6;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    transition: ease-in-out .3s all;
}

header ul.header-nav li a:hover,
header ul.header-nav li a:active,
header ul.header-nav li a:focus {
    color: #5E81FE;
}

header .header-btn {
    padding: 13px 16px;
    color: #3A79FF;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: #D2E1FF;
    transition: ease-in-out .3s all;
}

header .header-btn:hover {
    background-color: #dce8ff;
}

.swiper-container {
    width: 100%;
    height: 100vh;
}

.swiper-slide {
    position: relative;
}

.slide-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.slide-text__before-heading {
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D4F9F;
}

.slide-text__main-heading {
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    color: #3D4F9F;
    margin-bottom: 30px;
    margin-top: 16px;
}

.slide-text__main-heading span {
    font-weight: 600;
}

.slide-text__subtitle {
    max-width: 500px;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #8D96BD;
}

.swiper-autoplay-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%);
    z-index: 1000;
    background-color: white;
    height: 52px;
    width: 52px;
    border: none;
    outline: none;
    -webkit-box-shadow: 0px 3px 30px -14px rgba(61, 79, 159, 1);
    -moz-box-shadow: 0px 3px 30px -14px rgba(61, 79, 159, 1);
    box-shadow: 0px 3px 30px -14px rgba(61, 79, 159, 1);
}

.swiper-slide__img {
    text-align: center;
    height: 100%;
}

.swiper-slide__img img {
    width: 100%;
    height: 100%;
}

.slides-chart img {
    position: absolute;
    width: 100%;
    bottom: 0;

}

.marquee-text div {
    width: 100%;
    animation: marquee-text 5s linear infinite;
}

.marquee-infinite {
    margin: 0 auto;
    overflow: hidden;
}

.marquee-infinite div {
    display: flex;
    width: 200%;
    animation: marquee-infinite 10s linear infinite;
}



.marquee-infinite span {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.marquee-infinite img {
    padding: 38px;
    padding: 48px;
    width: 140px;
}

.marquee-infinite:hover div {
    animation-play-state: paused;
}


@keyframes marquee-text {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee-infinite {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}



@media(max-width: 1177px) {
    .wrapper {
        padding: 12px 20px;
    }

    header ul li {
        margin-right: 20px;
    }

    .swiper-autoplay-btn {
        top: 72%;
    }
}

@media(max-width: 840px) {

    .header-nav,
    .socials-header,
    .header-btn {
        display: none;
    }
}

@media(max-width: 605px) {
    .slide-text {
        top: 14%;
    }

    .swiper-autoplay-btn {
        top: 65%;
    }

}