/* quicksand-regular - latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/quicksand-v22-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/quicksand-v22-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/quicksand-v22-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/quicksand-v22-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/quicksand-v22-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/quicksand-v22-latin-regular.svg#Quicksand') format('svg');
    /* Legacy iOS */
}

/* quicksand-500 - latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/quicksand-v22-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/quicksand-v22-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/quicksand-v22-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/quicksand-v22-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/quicksand-v22-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/quicksand-v22-latin-500.svg#Quicksand') format('svg');
    /* Legacy iOS */
}

/* quicksand-600 - latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/quicksand-v22-latin-600.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/quicksand-v22-latin-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/quicksand-v22-latin-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/quicksand-v22-latin-600.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/quicksand-v22-latin-600.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/quicksand-v22-latin-600.svg#Quicksand') format('svg');
    /* Legacy iOS */
}

/* quicksand-700 - latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/quicksand-v22-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/quicksand-v22-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/quicksand-v22-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/quicksand-v22-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/quicksand-v22-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/quicksand-v22-latin-700.svg#Quicksand') format('svg');
    /* Legacy iOS */
}

body {
    font-family: 'Quicksand';
    font-style: normal;
}

header {
    display: flex;
    padding: 20px 100px;
    align-items: center;
    background-color: #fff;
}

header .logo-circle {
    width: 26px;
    height: 26px;
    background-color: #5E81FE;
    border-radius: 50%;
    margin-right: 60px;
}

header ul {
    display: flex;
}

header ul li {
    margin-right: 40px;
}

header ul.header-nav {
    flex-grow: 1;
}

header ul.header-nav li a {
    color: #697CA6;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    transition: ease-in-out .3s all;
}

header ul.header-nav li a:hover,
header ul.header-nav li a:active,
header ul.header-nav li a:focus {
    color: #5E81FE;
}

header .header-btn {
    padding: 13px 16px;
    color: #3A79FF;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: #D2E1FF;
    transition: ease-in-out .3s all;
}

header .header-btn:hover {
    background-color: #dce8ff;
}